@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  )
));

@include mat.all-component-themes($my-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, Roboto, "Helvetica Neue", sans-serif;
  background-color: #F7F8FA;
  color: #1E1E1E;
}

/* Custom Utilities */
.card-shadow {
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
